altgraph==0.17
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.4.0
beautifulsoup==3.2.2
bs==40.0.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.3
colorama==0.4.4
dill==0.3.3
discord==1.7.3
discord.py==1.7.3
doge==3.5.0
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
future==0.18.2
gpt==30.0.1
greenlet==1.1.2
idna==3.2
inflect==5.0.2
itsdangerous==2.0.1
Jinja==23.0.3
MarkupSafe==2.0.1
multidict==5.2.0
mysql-connector==2.2.9
parso==0.8.1
pc==0.0.3
pefile==2019.4.18
pip==21.1.2
py-sql==1.0.0
pydub==0.25.1
pygame==2.1.0
pyglet==1.5.21
Pygments==2.7.3
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pywin32-ctypes==0.2.0
requests==2.26.0
rp==0.1.676
setuptools==51.3.3
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.28
stackprinter==0.2.5
typing-extensions==4.0.1
urllib==31.26.6
wcwidth==0.2.5
Werkzeug==2.0.2
wheel==0.36.2
